:root {
  --clr-primary: #0f0f0f;
  --clr-secondry: #222222;
  --clr-secondry-hover: hsl(0, 0%, 25%);
  --clr: 0, 138, 138;
  --clr-text: #f0f8ff;
  --disabled: rgba(128, 128, 128, 0.7);
  --clr-modeIcon: hsl(0, 0%, 25%);
  --clr-colors: #131111;
  --clr-angel: hsl(0, 0%, 25%);
  --clr-toolTip: hsl(0, 0%, 25%);
  &.light {
    --clr-primary: rgba(var(--clr), 0.1);
    --clr-secondry: #f0ffff;
    --clr-text: #111;
    --clr-modeIcon: rgba(var(--clr), 0.1);
    --clr-colors: #fff;
    --clr-angel: rgba(var(--clr), 0.1);
    --clr-toolTip: rgba(var(--clr), 0.1);
  }
}

$clr-primary: var(--clr-primary);
$clr-secondry: var(--clr-secondry);
$clr-secondry-hover: var(--clr-secondry-hover);
$clr: var(--clr);
$clr-text: var(--clr-text);
$clr-modeIcon: var(--clr-modeIcon);
$clr-colors: var(--clr-colors);
$clr-angel: var(--clr-angel);
$clr-toolTip: var(--clr-toolTip);
