@use "colors" as c;

*,
*::after,
*::before {
  line-height: 1;
  box-sizing: border-box;
  @media (max-width: 767px) {
    -webkit-tap-highlight-color: rgba(white, 0);
    outline: none;
  }
}

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
input {
  all: unset;
  display: block;
  min-width: 0;
  width: 100%;
}
a {
  display: block;
  text-decoration: none;
}

body {
  font-family: "Josefin Sans", sans-serif;
}
