
//! Gaps

$gap: 10px;


//! Media variables
$max-small: "max-width: 767px";
$min-small: "min-width: 768px";
$max-medium: "max-width: 991px";
$min-medium: "min-width: 992px";
$max-large: "max-width: 1199px";
$min-large: "min-width: 1200px";
$m1070: "max-width: 1070px";

//! transition

$mainTransition: .2s;
